.header_turma h1{
    font-size: 20px;
}

.header_turma h3{
    font-size: 16px;
    color: #0000003f;
}

.section_turma{
    margin-top: 40px;
}

.section_turma .tab-button{
    border: solid 1.5px #00000067;
    padding: 5px 15px;
    border-radius: 5px;

    color: #00000067;
    font-weight: 300;
    background: none;
    cursor: pointer;

    margin-right: 10px;
}

.section_turma .tab-button:hover{
    border: solid 1.5px black;
    color: black;
    transition: 0.3s;
}

.section_turma .tab-button.active{
    border: solid 1.5px black;
    color: black;
    background-color: #0000000f;
}

.atividades_turma{
    display: flex;
    flex-direction: column;
    padding: 20px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 0px 10px;
    border-radius: 10px;
    max-width: 96%;

    margin-top: 40px;
}

.infot_atividades h1{
    font-size: 20px;
}

.infot_atividades h3{
    font-size: 17px;
    margin-bottom: -15px;
    color: #0000006c;
}

.botoesturma{
    background-color: white;
    border: none;

    cursor: pointer;

    color: #000C57;
    font-weight: 500;
    font-size: 13px;
}


