.navProfessor{
    background-color: #961100;
    height: 100vh;
    padding: 20px;
    width: 13vw;

    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    position: fixed; top: 0; left: 0;;
}

.portal_do_professor{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;

    margin-top: -25vh;
}

.portal_do_professor h1{
    font-size: 30px;
}

.portal_do_professor h3{
    margin-top: -22px;
}

.portal_do_professor h1, .portal_do_professor h3{
    color: white;
}

.interactionProfessor{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;

    gap: 20px;
    margin-top: -45vh;
}

.interactionProfessor a{
    padding: 10px;
    width: 12vw;
    color: white;
}

.interactionProfessor a:hover{
    background: linear-gradient(to right, #D21901, #FF7B69);
    border-radius: 5px;
}