.Professor{
    display: flex;
    flex-direction: column;
    padding: 20px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 0px 10px;
    border-radius: 10px;
    max-width: 100vw;

    margin-top: 40px;
}

.info_professor h1{
    font-size: 20px;
}

.info_professor h3{
    font-size: 17px;
    margin-bottom: -15px;
    color: #0000006c;
}



.modal_turma{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 0px 10px;

    width: 20vw;
    height: 230px;

    padding: 20px;
    border-radius: 9px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SalvarCancelar{
    display: flex;
    flex-direction: row;
}

.SalvarCancelar button{
    margin-right: 5px;
    border-radius: 5px;
}

.cancelar{
    background-color: #D21901;
    border: none;
    color: white;
}

.salvar{
    background-color: white;
    border: solid 1px black;

}